In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('allFlights.csv')

In [3]:
df2 = df.drop(columns=['FL_DATE', 'OP_CARRIER_FL_NUM', 'DIVERTED', 'CANCELLED', 'TAXI_OUT', 'CRS_DEP_TIME', 'DEP_TIME', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'CANCELLATION_CODE', 'CRS_ELAPSED_TIME', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'Unnamed: 27'])

In [4]:
df3 = df2.drop(columns=['LATE_AIRCRAFT_DELAY'])
df3.head()

,OP_CARRIER,ORIGIN,DEST,DEP_DELAY,ARR_DELAY,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE
0,UA,EWR,DEN,-5.0,-23.0,250.0,225.0,1605.0
1,UA,LAS,SFO,-8.0,-24.0,83.0,65.0,414.0
2,UA,SNA,DEN,-5.0,-13.0,126.0,106.0,846.0
3,UA,RSW,ORD,6.0,-2.0,182.0,157.0,1120.0
4,UA,ORD,ALB,20.0,14.0,106.0,83.0,723.0

In [5]:
len(df3)

7213446

In [6]:
for index, row in df3.iterrows():
    if (row['DEP_DELAY'] < 0):
        row['DEP_DELAY'] = 0

In [7]:
for index, row in df3.iterrows():
    if (row['ARR_DELAY'] < 0):
        row['ARR_DELAY'] = 0

In [8]:
df4 = df3.groupby(['OP_CARRIER', 'ORIGIN', 'DEST'], as_index=False).agg({'DEP_DELAY' : 'mean', 'ARR_DELAY' : 'mean', 'ACTUAL_ELAPSED_TIME': 'mean', 'AIR_TIME': 'mean', 'DISTANCE': 'mean'})

In [9]:
df4.head(100)

,OP_CARRIER,ORIGIN,DEST,DEP_DELAY,ARR_DELAY,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE
0,9E,ABE,ATL,11.991379,9.689459,131.504274,104.498575,692.0
1,9E,ABY,ATL,13.138614,14.819444,62.206963,37.557060,145.0
2,9E,ACK,LGA,43.782609,42.901099,80.913978,48.462366,202.0
3,9E,AEX,ATL,8.303030,2.161616,99.702213,72.543260,500.0
4,9E,AGS,ATL,11.164384,8.586006,63.038685,33.851064,143.0
...,...,...,...,...,...,...,...,...
95,9E,AZO,MSP,16.000000,20.000000,123.000000,65.000000,426.0
96,9E,BDL,CLE,-0.396648,-7.828729,104.751381,80.900552,476.0
97,9E,BDL,CVG,5.277273,-2.901786,122.021834,102.475983,661.0
98,9E,BDL,DTW,3.510204,-5.980000,113.160000,92.140000,549.0
99,9E,BDL,MCO,19.500000,14.625000,180.125000,151.125000,1050.0

In [10]:
len(df4)

13056

In [11]:
df4.OP_CARRIER.unique()

array(['9E', 'AA', 'AS', 'B6', 'DL', 'EV', 'F9', 'G4', 'HA', 'MQ', 'NK',
       'OH', 'OO', 'UA', 'VX', 'WN', 'YV', 'YX'], dtype=object)

In [14]:
len(df4.DEST.unique())

358

In [15]:
len(df4.ORIGIN.unique())

358